<div class = "main">
<div class = "company">
<div class="developer">
    <h1>Coforge (Software Engineer) :- 01/2021 - Present</h1>
    <ul>
        <li>Working as a Software Developer in the<b> Tourism, Travel and Hospitality </b>domain since I joined this organization.</li>
        <li>Throughout the journey in this organization I have worked on various technologies like Java, spring boot, mongoDB , Jenkins , Sonar, Azure DevOps. </li>
        <li> Various phases of SDLC: Requirement gathering from client, development, unit testing, maintenance and training of client for the provided builds. </li>
        <li> Experience in Agile development approach. Worked for international Airport Client like SITA.</li>
    </ul>
    <h3>Project :- UAE-ITP-Modernization (January, 2021 to Current)</h3>
    <ul>
        <li>A SITA Product of generating Intellegence and Targeting Platform. Our team built the web application using Java , Spring boot and Angular technology</li>
        <li>In this project we sent data to database to match the travellers information with the governments hit list and black list. If the data matches then that Application doesn’t allow person to travel and many other functalities were developed by our team.</li>
        <li>Worked on Many Modules of Microservices. To develop it And to unit test it.</li>
        <li>Worked on Jenkins and Sonar and I was assigned to solve the sonar issues.</li>
        <li>Worked on the code coverage of modules and maintained it above the 80%.</li>
    </ul>
    </div>
<div class="trainee">
    <h1>Coforge (Software Engineer trainee) :- 06/2020 - 12/2020</h1>
    <ul>
        <li>Got training from oraganization of Java full stack.</li>
        <li>Training covered the Java,spring framework,Angular and mysql Database.</li>
        <li>Made a Simple Banking management System in group of 4 while me handling the Backend part.</li>
    </ul>
</div>
</div>
</div>
