<div class = "main">
    <div class="Graduation">
        <h1>KIIT UNIVERSITY - B.Tech</h1>
        <ul>
            <li><h3>Electronics And Telecommunication</h3></li>
            <li><h3>C.G.P.A. :- 7.74</h3></li>
        </ul>
    </div>
    <div class="Secondary">
        <h1>CENTRAL ACADEMY - 12th</h1>
        <ul>
            <li><h3>Percentage :- 66.5 %</h3></li>
        </ul>
    </div>
    <div class="tenth">
        <h1>D.A.V. SENIOR SECONDARY PUBLIC SCHOOL</h1>
        <ul>
            <li><h3>C.G.P.A. :- 9.2</h3></li>
        </ul>
    </div>
</div>
