.nav{
  box-sizing: border-box;
  border: solid black 5px;
  background-color: rgb(47, 53, 51);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.logo{
  box-sizing: border-box;
  border: solid black 2px;
}

.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: self-end;
}

.active{
  box-sizing: border-box;
  border: solid black 5px;
  font-size: large;
  background-color: aliceblue;
  padding: 1%;
}


