<nav>
    <div class="logo">Sanidhya</div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a class="active" routerLink="">Home</a></li>
      <li><a routerLink="#">About</a></li>
      <li><a routerLink="">Skills</a></li>
      <li><a routerLink="experience">Experience & Project</a></li>
      <li><a routerLink="#">Self Project</a></li>
      <li><a routerLink="#">Feedback</a></li>
    </ul>
  </nav>
