/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*/


.container {
    margin-top: auto;
    margin-left: 10px;
    height: 100%;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
   }

.item{
  display: block;
  border: solid black 5px;
  max-width: 100%;
  max-height:100%;
}

img {
    margin-top: 8px;
    max-width: 100%;
    max-height:80%;
  }

.item2{
    margin-left: 50px;
    box-sizing: content-box;
    border: solid black 5px; 
    width: 150%;
    height: auto;   
}

  