*{
  background-color: #439A97;
  /* max-height: 90vh; */
  margin: 1px;
  padding: 1px;
}

.mainFlex {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: space-around;
  -webkit-box-align: center;
  flex-direction: row;
  align-items: stretch;
  max-height: 100vh;
  /* height: 100vh; */
  padding: 0px;
  
}

@media (max-width: 480px) {section{
    padding: 60px 0px;
}
}

@media (max-width: 768px)
{
section {
    padding: 80px 0px;
}}

*, ::before, ::after {
  box-sizing: inherit;
}

.child_flex_1{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vh;
  height: 100vh;
}

@media (max-width: 450px)
{
  .child_flex_1 {
    justify-content: flex-start;
    height: 40vh;
}}


.child_flex_2{
  display:flex ;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vh;
  height: 100vh;
}

@media (max-width: 450px)
{
  .child_flex_2 {
    justify-content: flex-start;
    height: 50vh;
}}

img {
  max-width: 100vh;
  max-height: 80vh;
  border-radius: 50%;
}

@media (max-width: 450px)
{
img {
  max-width: 40vh;
    padding: 80px 0px;
}}